.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }

  .item {
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    color: white;
  }


  .img-background{
      background-color: grey;
  }
  .img1 {
      transform: rotate(45deg) scale(0.5, 0.5);
  }
